asynckivy==0.6.0
azapi==3.0.8
colorthief==0.2.1
faiss_cpu==1.7.4
ffpyplayer==4.5.1
googletrans==3.0.0
google-search-results==2.4.2
gTTS==2.2.4
infi.systray==0.1.12
Kivy==2.2.0
kivy_garden.frostedglass==0.5.0
KivyGradient==0.0.4
langchain==0.0.245
lyrics_extractor==3.0.1
lyricsgenius==3.0.1
mysql_connector_python==8.0.31
numpy==1.23.5
openai==0.28.1
pandas==1.5.2
Pillow==9.3.0
playsound==1.2.2
plyer==2.1.0
py_wallpaper==0.1.0
pydub==0.25.1
pyjokes==0.6.0
pyttsx3==2.90
Requests==2.31.0
SpeechRecognition==3.10.0
streamlit==1.25.0
talkey==0.1.1
